<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/currency.png' %}" alt="">
                    <h2>Expense360</h2>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            
            
            <div class="sidebar">
                {% url 'dashboard' as dashboard %}
                <a href="{{dashboard}}" class="{% if request.path == dashboard %} active {% endif %}"><span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>

                {% url 'users' as users%}
                <a href="{{users}}" class="{% if request.path == users %} active {% endif %}"><span class="material-icons-sharp">group</span>
                    <h3>Users</h3>
                </a>

                <a href=""><span class="material-icons-sharp">savings</span>
                    <h3>Income</h3>
                </a>

                <a href=""><span class="material-icons-sharp">paid</span>
                    <h3>Expenses</h3>
                </a>

                <a href=""><span class="material-icons-sharp">wallet</span>
                    <h3>Wallet</h3>
                </a>

                <a href=""><span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                {% url 'login' as login %}
                <a href="{{login}}" class="{% if request.path == login %} active {% endif %}"><span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>


            <div class="beta">
                <h5>Beta</h5>
                <p>As part of our Beta program, some features of Expense360 may be experimental or not fully polished.</p>
            </div>
        </aside>


        <!-- ===== MAIN TAG ===== -->
    <main>
        <div class="nav-wrapper">
            <i class="fa-solid fa-bars" id="hamburger"></i>

            <form action="">
              <div class="search-container">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                <input type="text">
              </div>
            </form>
            <div class="profile-side">
                <p>Employee101</p>
              <img src="{% static 'images/default-user.png' %}" alt="">
            </div>
          </div>

        {% block content %}

        {% endblock %}
                            
                       
    </main>
    </div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>