<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <a href="{% url 'register' %}" class="signup-button">Sign up</a>
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="error-messages error-message" id="error_messages">
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div style="color: #9b2d2d; position: absolute;
                          left: 30%;
                          bottom: 4%;">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                          <div style="color:green;">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>                
                <img src="{% static 'images/currency-white.png' %}" alt="Logo" class="logo">
                <h2>Login</h2>
                <div class="input-group" id="inputField">
                    <!-- <i class="fa-regular fa-user"></i>                     -->
                    <input type="text" name="username" required>
                    <label for="">Email:</label>
                </div>

                <div class="input-group">
                    <i class="fa-regular fa-eye"></i>             
                    <input type="password" name="password" required>
                    <label for="">Password:</label>
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            setTimeout(function() {
                $(".error-message").fadeOut("slow");
            }, 3000);
        });
    </script>
</body>
</html>