<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN-UP</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
<section>
    <div class="logo">
        <img src="{% static 'images/currency.png' %}" alt="">
        <p>Expense360</p>
    </div>
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <h2>Create an account</h2>
                <p>Let's get started with you for free!</p>
                <div class="error-messages" id="error_messages" style="display: none;">
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div style="color:red;">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                          <div style="color:green;">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="input-group">
                    <input type="text" name="full_name" required>
                    <label for="full_name">Name</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-group">
                    <input type="password" name="confirm_password" required>
                    <label for="Confirm Password">Confirm Password</label>
                </div>
                <button type="submit">Create an account</button>
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
    <div class="image-box">
        <img src="{% static 'images/image-3.jpg' %}" alt="">
    </div>
</section>
<script src="{% static 'js/signup.js' %}"></script>
</body>
</html>
