<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard/Users</title>
    <link rel="stylesheet" href="{% static 'css/usergroup.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/currency.png' %}" alt="">
                    <h2>Expense360</h2>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                {% url 'dashboard' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>

                {% url 'users' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">group</span>
                    <h3>Users</h3>
                </a>

                {% url 'income' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">savings</span>
                    <h3>Income</h3>
                </a>

                {% url 'expenses' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">paid</span>
                    <h3>Expenses</h3>
                </a>

                {% url 'wallets' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">wallet</span>
                    <h3>Wallet</h3>
                </a>

                {% url 'settings' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                
                {% url 'login' as url %}
                <a href="{{ url }}" class="{% if request.path == url %} active {% endif %}"><span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>

            <div class="beta">
                <h5>Beta</h5>
                <p>As part of our Beta program, some features of Expense360 may be experimental or not fully polished.</p>
            </div>
        </aside>


        <!-- ===== MAIN TAG ===== -->
    <main>
        <div class="nav-wrapper">
            <i class="fa-solid fa-bars" id="hamburger"></i>
            <form action="">
                {% csrf_token %}
              <div class="search-container">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                <input type="text">
              </div>
            </form>
            <div class="profile-side">
                <p>{{ profile.full_name }}</p>
                <img src="{% if profile.profile_image %}{{ profile.profile_image.url }}{% else %}{% static 'images/user-default.svg' %}{% endif %}" alt="">
            </div>            
          </div>


          <div class="long-bar">
            <div class="left-side">
                <i class="fa-solid fa-users"></i>
                <p>Users</p>
            </div>
            <div class="right-side">
                <p>Total: <span class="total-users">{{ total_users }}</span></p>
            </div>
          </div>

          <div class="user-container">
            <div class="user-form-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2>Add User</h2>
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" required>
                    </div>

                    <div class="input-field">
                        <label for="full-name">Full Name</label>
                        <input id="full-name" name="full-name" type="text" required>
                    </div>                    
        
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required>
                    </div>
        
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>
                    </div>
        
                    {% if user.is_staff %}
                    <div class="input-field">
                        <label for="user-type">User-Type</label>
                        <select id="user-type" name="user-type">
                            <option value="staff">Staff</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
        
                    <div class="input-field">
                        <label for="privileges">Privileges</label>
                        <select id="privileges" name="privileges">
                            <option value="all">All</option>
                            <option value="partial">Partial</option>
                        </select>
                    </div>
        
                    <div class="input-field">
                        <label for="wallet">Assign to wallet</label>
                        <select id="wallet" name="wallet">
                            <option value="wallet1">Wallet 1</option>
                            <option value="wallet2">Wallet 2</option>
                        </select>
                    </div>
                    {% endif %}
        
                    <div class="button-grp">
                        <button id="submit-btn" type="submit">Add User</button>
                        <button id="reset-btn" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        
            <div class="user-display-table">
                <div class="user-header-display">
                    <h2>Active Users</h2>
                </div>
        
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.profile.full_name }}</td>
                            <td>{% if user.profile.user_type == 'staff' %}Staff{% elif user.profile.user_type == 'admin' %}Admin{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                
                               
                
            </div>
        </div>
        
        </main>
    </div>

        

<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>